name: Build
on: [push, pull_request]
jobs:
  ctan:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - name: release.sh
        uses: dante-ev/latex-action@latest
        with:
          entrypoint: ./release.sh
      - uses: actions/upload-artifact@v4
        with:
          name: ctan
          path: plantuml.tar.gz
  build_and_publish:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - name: example-minimal
        uses: dante-ev/latex-action@latest
        with:
          root_file: example-minimal.tex
          compiler: lualatex
          args: -interaction=nonstopmode -shell-escape
      - name: example-class-relations--svg
        uses: dante-ev/latex-action@latest
        with:
          root_file: example-class-relations--svg.tex
          compiler: lualatex
          args: -interaction=nonstopmode -shell-escape
      - name: example-class-relations--latex
        uses: dante-ev/latex-action@latest
        with:
          root_file: example-class-relations--latex.tex
          compiler: lualatex
          args: -interaction=nonstopmode -shell-escape
      - name: example-component-diagram
        uses: dante-ev/latex-action@latest
        with:
          root_file: example-component-diagram.tex
          compiler: lualatex
          args: -interaction=nonstopmode -shell-escape
      - name: Gather build artifacts
        run: |
          mkdir build
          mv example-*.pdf build/
          mv example-*.png build/
          cp -r README.md .github/_config.yml build/
      - name: Publish to GitHub pages
        if: success() && github.ref == 'refs/heads/main'
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: gh-pages
          build_dir: build/
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
